#hero {
  height: 470px;
}

#hero img {
  height: 450px;
}

#skills {
  margin-top: 30px;
}

#skills .card img {
  height: 10rem;
}

.carousel img {
  height: 540px;
}

#interests img {
  height: 20rem;
}

.about {
  position: relative;
}

.blankHero {
  margin-top: 35px;
  padding-top: 15px;
  width: 65%;
  height: 45%;
  background-color: rgb(146, 224, 198);
  border-radius: 0px 20px 20px 0px;
  position: absolute;
}

.aboutme {
  padding-top: 50px;
  padding-right: 10px;
  margin-top: -80px;
  width: 30%;
  height: 250px;
  position: absolute;
  background-color: rgb(245, 237, 226);
  border-radius: 0px 60px 60px 0px;
}
.aboutex {
  position: relative;
}

.blankex {
  width: 65%;
  height: 45%;

  position: absolute;
}

.blankex .container {
  padding-top: 30px;
  padding-right: 10px;
  margin-top: -126px;
  width: 30%;
  height: 190px;
  position: absolute;
  background-color: rgb(245, 237, 226);
  border-radius: 0px 60px 0px 0px;
}

#experience {
  margin-top: 40px;
}
